In [5]:
import pandas as pd
from pandas import DataFrame
import pandas.util.testing as pd_testing
df = pd_testing.makeTimeDataFrame(5)
df

                   A         B         C         D
2000-01-03 -1.182551 -0.208280 -0.496412 -0.132007
2000-01-04  0.279204 -1.199546  0.515750 -0.992683
2000-01-05 -0.637478 -0.643404 -0.806482  1.041626
2000-01-06  0.465964  0.696518 -0.308916 -0.420577
2000-01-07  1.119974 -0.057472 -0.454310 -0.417109

In [6]:
df2 = df.drop('B',axis=1)

In [7]:
df2

                   A         C         D
2000-01-03 -1.182551 -0.496412 -0.132007
2000-01-04  0.279204  0.515750 -0.992683
2000-01-05 -0.637478 -0.806482  1.041626
2000-01-06  0.465964 -0.308916 -0.420577
2000-01-07  1.119974 -0.454310 -0.417109

In [8]:
 df.drop('B', axis=1).mean(axis=1)

2000-01-03   -0.603657
2000-01-04   -0.065910
2000-01-05   -0.134112
2000-01-06   -0.087843
2000-01-07    0.082852
Freq: B, dtype: float64

In [13]:
id(df)

140483216441296

In [14]:
id(df2)

140483216440656

In [15]:
df.apply?