In [2]:
import pandas as pd
from pandas import DataFrame
import pandas.util.testing as pd_testing

In [5]:
df = pd_testing.makeTimeDataFrame(5)

In [6]:
df

                   A         B         C         D
2000-01-03  0.140862 -0.085844  1.369177 -0.376289
2000-01-04 -1.419673  0.784425 -0.711384  1.476781
2000-01-05  0.859622 -1.464731 -0.148609 -0.590711
2000-01-06  0.137026  1.995935 -0.002139 -0.880999
2000-01-07  1.092645  0.301670  1.373448 -1.200871

In [11]:
df2 = df.drop('B', axis=1)

In [12]:
df

                   A         B         C         D
2000-01-03  0.140862 -0.085844  1.369177 -0.376289
2000-01-04 -1.419673  0.784425 -0.711384  1.476781
2000-01-05  0.859622 -1.464731 -0.148609 -0.590711
2000-01-06  0.137026  1.995935 -0.002139 -0.880999
2000-01-07  1.092645  0.301670  1.373448 -1.200871

In [13]:
df2

                   A         C         D
2000-01-03  0.140862  1.369177 -0.376289
2000-01-04 -1.419673 -0.711384  1.476781
2000-01-05  0.859622 -0.148609 -0.590711
2000-01-06  0.137026 -0.002139 -0.880999
2000-01-07  1.092645  1.373448 -1.200871

In [17]:
df.drop('B', axis=1).mean(axis=1)

2000-01-03    0.377917
2000-01-04   -0.218092
2000-01-05    0.040100
2000-01-06   -0.248704
2000-01-07    0.421741
Freq: B, dtype: float64

In [18]:
df.drop('C', axis=1, inplace=True)

In [19]:
df

                   A         B         D
2000-01-03  0.140862 -0.085844 -0.376289
2000-01-04 -1.419673  0.784425  1.476781
2000-01-05  0.859622 -1.464731 -0.590711
2000-01-06  0.137026  1.995935 -0.880999
2000-01-07  1.092645  0.301670 -1.200871

In [23]:
df.loc[:'2000-01-05']

                   A         B         D
2000-01-03  0.140862 -0.085844 -0.376289
2000-01-04 -1.419673  0.784425  1.476781
2000-01-05  0.859622 -1.464731 -0.590711

In [24]:
df.loc['2000-01-04':'2000-01-05']

                   A         B         D
2000-01-04 -1.419673  0.784425  1.476781
2000-01-05  0.859622 -1.464731 -0.590711

In [25]:
df.iloc[:3]

                   A         B         D
2000-01-03  0.140862 -0.085844 -0.376289
2000-01-04 -1.419673  0.784425  1.476781
2000-01-05  0.859622 -1.464731 -0.590711

In [26]:
df.iloc[2:3]

                   A         B         D
2000-01-05  0.859622 -1.464731 -0.590711

In [30]:
df.loc['2000-01-04':'2000-01-05', ['B', 'D']]

                   B         D
2000-01-04  0.784425  1.476781
2000-01-05 -1.464731 -0.590711

In [37]:
df.iloc[1:3, 1:3]

                   B         D
2000-01-04  0.784425  1.476781
2000-01-05 -1.464731 -0.590711

In [38]:
df.ix?

In [39]:
testdf = df.copy()

In [41]:
testdf.index = ['a', 'b', 'a', 'b', 'c']

In [42]:
testdf

          A         B         D
a  0.140862 -0.085844 -0.376289
b -1.419673  0.784425  1.476781
a  0.859622 -1.464731 -0.590711
b  0.137026  1.995935 -0.880999
c  1.092645  0.301670 -1.200871

In [48]:
testdf.loc[:'b']

KeyError: "Cannot get right slice bound for non-unique label: 'b'"

In [49]:
testdf

          A         B         D
a  0.140862 -0.085844 -0.376289
b -1.419673  0.784425  1.476781
a  0.859622 -1.464731 -0.590711
b  0.137026  1.995935 -0.880999
c  1.092645  0.301670 -1.200871

In [51]:
set(testdf.index)

{'a', 'b', 'c'}

In [52]:
len(set(testdf.index))

3

In [53]:
len(testdf.index)

5

In [55]:
len(testdf.index.unique())

3

In [56]:
testdf.index.duplicated()

array([False, False,  True,  True, False], dtype=bool)

In [57]:
testdf.index.duplicated().any()

True